<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdxt.ds.web.lesson.dao.LessonCenterDao">

 <resultMap type="com.cdxt.ds.web.lesson.pojo.CourseInfo"  id="courseDetailInfo" >  
 <id column="courseID" property="courseID"/>
 <result column="price" property="price"/>
 <result column="name" property="name"/>
 <result column="totalclass" property="totalClass"/>
 <result column="type" property="type"/>
 <result column="brief" property="brief"/>
 <result column="lectureid" property="lectureID"/>
 <collection property="coursePlan" ofType="com.cdxt.ds.web.lesson.pojo.CoursePlan">
            <id column="id" property="id"/>
            <result column="classnumber" property="classNumber"/>
            <result column="time" property="time"/>
  </collection>
 </resultMap>

<!-- 根据id查询课程信息 -->
<select id="getCourseInfobyCpurseID" parameterType="int" resultMap="courseDetailInfo">

select a.courseID,a.lectureID,a.price,a.name,a.totalclass,a.type,a.brief,b.id,
 b.classnumber,b.time from  XTEL_COURSEINFO a left join XTEL_CourseArrangement b
 on a.courseID=b.courseID where a.COURSEID=#{cpurseID} 
</select>

<!-- 通过登录名查询XTEL_COURSEINFO -->
<select id="listAllLesson"  resultType="map" parameterType="Integer">
            select  a.COURSEID,a.LECTUREID,a.NAME,a.STATUS,a.TOTALCLASS,a.PRICE,a.TYPE,
    a.SOLD,a.PASS,a.LASTCLASSTIME,a.REVIEWERID,x.USERNAME,x.USERID 
    from XTEL_COURSEINFO a left join   XTEL_USERINFOTABLE x on a.LECTUREID=x.USERID
    where  a.STATUS=2 and x.userid!=#{userId} and 
    <!-- 剔除掉已报名的和自己的课程 -->
   not exists ( select p.courseid from XTEL_SignupList p where a.courseid=p.courseid)
</select>

<!-- 根据id查看课程的信息 -->
<select id="getCourseInfoByid"  resultType="map" parameterType="int">
 	select  a.COURSEID,a.LECTUREID,a.NAME,a.STATUS,a.TOTALCLASS,a.PRICE,a.TYPE,
 	a.SOLD,a.PASS,a.LASTCLASSTIME,a.REVIEWERID,a.BRIEF,a.NUMBEROFEXPECTED,x.USERNAME,x.USERID 
 	from XTEL_COURSEINFO a inner join XTEL_USERINFOTABLE x on a.LECTUREID=x.USERID 
 	where a.COURSEID=#{cpurseID}
</select>
<!-- 新增培训报名信息 -->
<insert id="insertSignup" parameterType="map">
insert into  XTEL_SignupList(ID,USERID,COURSEID,TIME,STATUS) 
VALUES(SIGNUP_SQ.NEXTVAL,#{userId},#{courseId},#{time},0)
</insert>
<!-- 修改课程表的出售数量 -->
<update id="updateSignupSold"  parameterType="map">

update XTEL_COURSEINFO set SOLD=SOLD+1 where COURSEID=#{CpurseID}

</update>

<!-- 删除课程信息记录 -->
<delete id="deleteClassInfo" parameterType="int">

delete from  XTEL_COURSEINFO a where a.COURSEID=#{cpurseID}

</delete>

<!-- 通过登录名查询XTEL_COURSEINFO -->
<select id="listMyLessonPage"  resultType="map" parameterType="int">
	   	select  a.COURSEID,a.LECTUREID,a.NAME,a.STATUS,a.TOTALCLASS,a.PRICE,a.TYPE,
 	a.SOLD,a.PASS,a.LASTCLASSTIME,a.REVIEWERID,x.USERNAME,x.USERID 
 	from XTEL_COURSEINFO a inner join XTEL_USERINFOTABLE x on a.LECTUREID=x.USERID
 	where a.LECTUREID=#{userID}
</select>
<!-- 新增课程信息 -->
<insert id="insertCourseInfo" parameterType="courseInfo">

    <selectKey keyProperty="courseID" resultType="Integer" order="BEFORE">  
            select COURSEINFO_SQ.NEXTVAL from dual  
    </selectKey>
		INSERT INTO XTEL_COURSEINFO
		(
		COURSEID,
		LECTUREID,
		NAME,
		STATUS,
		TOTALCLASS,
		PRICE,
		TYPE,
		SOLD,
		NUMBEROFEXPECTED,
		BRIEF
		) 
		VALUES(
		#{courseID},
        #{lectureID},
		#{name},
		#{status},
		#{totalClass},
		#{price},
		#{type},
		#{sold},
		#{numberOfExpected},
		#{brief}
		)
</insert>
<!-- 已报名课程信息 -->
<select id="listRegisteredLessonPage" parameterType="int" resultType="map">
   	 select  a.COURSEID,a.LECTUREID,a.NAME,a.STATUS,a.TOTALCLASS,a.PRICE,a.TYPE,
 	a.SOLD,a.PASS,a.LASTCLASSTIME,a.REVIEWERID,x.USERNAME,x.USERID 
 	from XTEL_SignupList c left join  XTEL_COURSEINFO a on c.COURSEID=a.COURSEID 
 	inner join XTEL_USERINFOTABLE x on a.LECTUREID=x.USERID
 	where c.USERID=#{userID}
</select>
<!-- 添加我的排课记录 -->
<insert id="batchInsertCoursePlan" parameterType="java.util.List" >
 <selectKey resultType="Integer" keyProperty="id" order="BEFORE"> 
             SELECT COURSEARRANGEMENT_SQ.NEXTVAL FROM dual
  </selectKey> 
   INSERT INTO XTEL_CourseArrangement(ID, COURSEID,TIME,CLASSNUMBER)
         SELECT COURSEARRANGEMENT_SQ.NEXTVAL, m.* FROM(
         <foreach collection="list"  index="index" item="coursePlan"  separator="union all">
          select
             #{coursePlan.courseID} as COURSEID,
             #{coursePlan.time} as TIME,
             #{coursePlan.classNumber} as CLASSNUMBER
           from dual
         </foreach>
         )m
</insert>

<!-- 添加或更新我的排课记录 -->
<insert id="batchMergeCoursePlan" parameterType="java.util.List">
    <selectKey keyProperty="courseID" resultType="Integer" order="BEFORE">  
            select COURSEINFO_SQ.NEXTVAL from dual  
    </selectKey>
    MERGE INTO XTEL_CourseArrangement t
    USING (
      <foreach collection="list" item="item" index="index" separator="union" >
        select #{id} ,#{courseId},#{time},#{classNumber}
        from dual
      </foreach>) t1
    ON (t.id =  t1.id)
    WHEN MATCHED THEN
    UPDATE SET t.time = t1.time ,t.status=0 where t1.id
    WHEN NOT MATCHED THEN

      INSERT(courseID, time, classNumber)
      VALUES ( t1.courseId, t1.time, t1.classNumber)
</insert>
<!-- 查询我的课程安排信息 -->
<select id="listCourseArrangeInfoPage" parameterType="int" resultType="map">

	 select  a.COURSEID,a.LECTUREID,a.NAME,a.TOTALCLASS,a.PRICE,a.TYPE,
 	a.SOLD,a.PASS,a.LASTCLASSTIME,a.REVIEWERID,c.ID,c.TIME,c.STATUS 
 	from XTEL_CourseArrangement c left join  XTEL_COURSEINFO a on c.COURSEID=a.COURSEID 
 
 	where c.LECTUREID=#{userID}
</select>
<!-- 查找我的课程安排详情 -->
<select id="getArrangeByid" resultType="map" parameterType="int">

SELECT TIME FROM  XTEL_CourseArrangement where ID=#{id}

</select>
<!-- 修改我的课程安排时间 -->
<update id="updateCourseArrangementTime" parameterType="map">

update XTEL_CourseArrangement set TIME=#{dateTime},STATUS=0 where ID=#{id}

</update>
<!-- 新增试卷信息 -->
<insert id="insertExpapersInfo" parameterType="map">

INSERT into XTEL_ExamPapers(ID,COURSEID,UPLOADERID,TOTALSCORE,PASSSCORE,NUMBEROFPARTICIPANTS,NUMBEROFPASS,URL,PAPERNAME,UPLOADTIME) 
VALUES(EXAMPAPERS_SQ.NEXTVAL,#{id},#{userID},#{TOTALSCORE},#{PASSSCORE},#{NUMBEROFPARTICIPANTS},
#{NUMBEROFPASS},#{expapersUrl},#{expapersNmae},#{uplodaTime})

</insert>

<!-- 修改我的课程申请,修改后需要重新审核 -->
<update id="updateCourse" parameterType="map">
update XTEL_CourseInfo  set name=#{name},status=1,TotalClass=#{totalClass},
Price=#{price},type=#{type},Brief=#{brief}  where courseId=#{courseID}
</update>

<!-- 根据课程id删除课程计划-->
<delete  id="deleteCourseArrangement"  parameterType="Integer">
delete from  XTEL_CourseArrangement where CourseID=#{courseID}
</delete>

</mapper>