<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdxt.ds.web.sys.dao.UserDao">

	<resultMap id="userinfoMap" type="userInfo">
		<id property="userName" column="USERNAME" />
		<id property="userID" column="USERID" />
		<result property="nickName" column="NICKNAME" />
		<result property="groupID" column="GROUPID" />
		<result property="registTime" column="REGISTTIME" />
		<result property="purchasedCourse" column="PURCHASEDCOURSE" />
		<result property="passCourse" column="PASSCOURSE" />
		<result property="excellentCourse" column="EXCELLENTCOURSE" />
		<result property="learningCourse" column="LEARNINGCOURSE" />
		<result property="completeCourse" column="COMPLETECOURSE" />
		<result property="lectures" column="LECTURES" />
		<result property="isOnline" column="ISONLINE" />
		<result property="loginTime" column="LOGINTIME" />
		<result property="password" column="PASSWORD" />
		<result property="status" column="STATUS" />

	</resultMap>

	<!-- 通过登录名查询userInfo -->
	<select id="getuUserInfoByLoginName" parameterType="String"
		resultMap="userinfoMap">
		select * from XTEL_USERINFOTABLE where USERNAME=#{loginName}
	</select>

	<!-- 动态更新userInfo -->
	<update id="updateUserinfo" parameterType="userInfo">
		update XTEL_USERINFOTABLE set LOGINTIME=#{loginTime}
		where USERID=#{userID}
	</update>
	<!-- 注册用户信息 -->
	<insert id="insertUserInfo">
		insert into XTEL_USERINFOTABLE(USERNAME,USERID,REGISTTIME,PASSWORD)
		values(#{name},USERINFO_SQ.NEXTVAL,#{registerTime},#{password})

	</insert>

	<!-- 查询菜单，递归查询 -->
	<select id="getUserMenuList" parameterType="int" resultType="MenuFunction">
		select x.id ,x.parent ,x.url ,x.page_name ,x.page_order,
		x.page_level,x.icon ,x.status ,x.type from
		xtel_function x where
		x.status='1' and x.type='1'
		<!-- <choose> <when test="parentId!=null and parentId!=''"> and x.parent=#{parentId} 
			</when> <otherwise> and x.parent is null </otherwise> </choose> start with 
			parent is null connect by prior id=parent order by x.page_order -->
	</select>

	<!-- 新增用户,调用存储过程 -->
 <select id="addUser" statementType="CALLABLE" parameterType="java.util.HashMap"  >
       <![CDATA[
           {call US246.XTEL_SIGUP(
              #{uName,mode=IN,jdbcType=VARCHAR},
              #{pwd,mode=IN,jdbcType=VARCHAR},
              #{groupId,mode=IN,jdbcType=INTEGER},
              #{returnValue,mode=OUT,jdbcType=INTEGER}
           )}    
       ]]>
</select>


    <!-- 查询所有群组 -->
    <select id="getAllGroup"  resultType="java.util.HashMap" >

       select b.NAME,b.id  FROM XTEL_GroupInfo b 
    </select>
</mapper>